<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Biodata</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Akinla Diko Omari</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">May 24, 2003</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Jakarta, Indonesia</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">akinladiko@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+62 87788304949</span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Currently, my focus in my teenage years is to keep sharpening and exploring my own skills, especially in entrepreneurship and marketing.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Learning by doing, now I am helping my family to do our family micro-business in some marketplace. For example, Shopee, Tokopedia, and Lazada. In total, we have 15k+ followers in our marketplace and served many customers around the Indonesian area. 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/fotoprofile1.jpg" alt="" style="width:332px;height:444px;" />
            <img src="images/img-profile/fotoprofile2.png" alt="" style="width:332px;height:444px;" />
            <img src="images/img-profile/fotoprofile3.png" alt="" style="width:332px;height:444px;"/>
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Hobbies</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-music"></i></div>
                <div class="service-detail">
                    <h6>Music</h6>
                    <p>Love to hear classical or alternative rock music</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-code"></i></div>
                <div class="service-detail">
                    <h6>Math and Code</h6>
                    <p>Appreciate some math puzzles and love to code too</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-money"></i></div>
                <div class="service-detail">
                    <h6>Entrepreneurship</h6>
                    <p>Likes to see opportunities and turn them into profits</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="clear"></div>
</div>
<!-- End .profile -->
